{% if data['action']=="created" %}
[[ {{ data['repository']['name'] }} ]]({{ data['repository']['html_url'] }})
📝@{{ data['sender']['login'] }} оставил комментарий в дисскусии [{{ data['discussion']['title'] }}]({{ data['discussion']['html_url'] }})
{{ data['comment']['body'] }}
{% endif %}