{% if data['action']=="created" %}
<a href="{{ data['repository']['html_url'] }}">[ {{ data['repository']['name'] }} ] </a>
&#128221;<code>{{ data['sender']['login'] }}</code> оставил комментарий в дисскусии <a href="{{ data['discussion']['html_url'] }}">{{ data['discussion']['title'] }}</a>
<code>{{ data['comment']['body'] }}</code>
{% endif %}