{% if data['action']=="opened" %}
<a href="{{ data['repository']['html_url'] }}">[ {{ data['repository']['name'] }} ] </a>
&#128161;<code>{{ data['sender']['login'] }}</code> создал Issue #{{ data['issue']['number'] }} <a href="{{ data['issue']['html_url'] }}">{{ data['issue']['title'] }}</a>
{% if data['issue']['body']!="" %}<code>{{ data['issue']['body'] }}</code>{% endif %}
{% endif %}