{% if data['action']=="released" %}
<a href="{{ data['repository']['html_url'] }}">[ {{ data['repository']['name'] }} ]</a>
&#128293;Новый релиз <a href="{{ data['release']['html_url'] }}">{{ data['release']['tag_name'] }}</a>
{% if data['release']['body']!="" %}<code>{{ data['release']['body'] }}</code>{% endif %}
Ссылки для скачивания:
  <a href="{{ data['release']['tarball_url'] }}">tar</a>
  <a href="{{ data['release']['zipball_url'] }}">zip</a>
{% elif data['action']=="prereleased" %}
<a href="{{ data['repository']['html_url'] }}">[ {{ data['repository']['name'] }} ]</a>
&#128293;Новый Pre-релиз <a href="{{ data['release']['html_url'] }}">{{ data['release']['tag_name'] }}</a>
{% if data['release']['body']!="" %}<code>{{ data['release']['body'] }}</code>{% endif %}
{% endif %}
